<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>Change Password</title>
  </head>
  <body>
    <div class="register-page">
      <h1>Change password</h1>
      <form class="register-form" action="/change-password" method="post">
        <div class="error-message">
          <% if (message !=="") { %>
            <p><%= message %></p>
          <% } %>
        </div>
        <div>
          <label>username</label><br><span id="emailWarning" style="color: red;"></span>
          <input id="email" type="email" name="username" placeholder="Password">
        </div>
        <div>
          <label>Old Password</label><br><span id="oldPasswordWarning" style="color: red;"></span>
          <input id="oldPassword" type="password" name="oldPassword" placeholder="Password">
        </div>
        <div>
          <label>Password</label><br><span id="newPasswordWarning" style="color: red;"></span>
          <input id="newPassword" onkeyup="trigger()" type="password" name="newPassword" placeholder="Password">
          <div class="show-div">
            <input type="checkbox" id="showpass" class="show-pass">show password</input>
          </div>

        </div>
        <div class="indicator">
          <span class="weak"></span>
          <span class="medium"></span>
          <span class="strong"></span>
        </div>
        <div class="text"></div>
        <button type="submit">Change Password</button><br>
      </form>
    </div>
    <script>
        function addEvent(el, event, callback) {
          if ('addEventListener' in el) {
            el.addEventListener(event, callback, false);
          } else {
            el['e' + event + callback] = callback;
            el[event + callback] = function() {
              el['e' + event + callback](window.event);
            };
            el.attachEvent('on' + event, el[event + callback]);
          }
        }

        function removeEvent(el, event, callback) {
          if ('removeEventListener' in el) {
            el.removeEventListener(event, callback, false);
          } else {
            el.detachEvent('on' + event, el[event + callback]);
            el[event + callback] = null;
            el['e' + event + callback] = null;
          }
        }

        (function() {
          var chk = document.getElementById('showpass');

          var pwd = document.getElementById('newPassword');

          addEvent(chk, 'change', function(e) {
            var target = e.target || e.srcElement;
            try {
              if (target.checked) {
                pwd.type = 'text';
              } else {
                pwd.type = 'password';
              }
            } catch (error) {
              alert('This browser cannot switch type');
            }
          });
        })();
        </script>

      <script type="text/javascript">
        const indicator = document.querySelector(".indicator");
        const input = document.getElementById("newPassword");
        const weak = document.querySelector(".weak");
        const medium = document.querySelector(".medium");
        const strong = document.querySelector(".strong");
        const text = document.querySelector(".text");

        let regExpWeak = /[a-z]/;
        let regExpMedium = /\d+/;
        let regExpStrong = /.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/;

        function trigger(){
          if(input.value != ""){
            indicator.style.display = "block";
            indicator.style.display = "flex";
            if(input.value.length <= 5 && (input.value.match(regExpWeak) || input.value.match(regExpMedium) || input.value.match(regExpStrong)))no=1;
            if(input.value.length >= 6 && ((input.value.match(regExpWeak) && input.value.match(regExpMedium)) || (input.value.match(regExpMedium) && input.value.match(regExpStrong)) || (input.value.match(regExpWeak) && input.value.match(regExpStrong))))no=2;
            if(input.value.length >= 8 && input.value.match(regExpWeak) && input.value.match(regExpMedium) && input.value.match(regExpStrong))no=3;
            if(no == 1){
              weak.classList.add("active");
              text.style.display = "block";
              text.textContent = "Your password is weak.";
              text.classList.add("weak");
            }
            if(no == 2){
              medium.classList.add("active");
              text.textContent = "Your password is medium.";
              text.classList.add("medium");
            }else {
              medium.classList.remove("active");
              text.classList.remove("medium");
            }
            if(no == 3){
              medium.classList.add("active");
              strong.classList.add("active");
              text.textContent = "Your password is strong.";
              text.classList.add("strong");
            }else {
              strong.classList.remove("active");
              text.classList.remove("strong");
            }
          }else{
            indicator.style.display = "none";
            text.style.display = "none";
          }
        }
      </script>

      <script type="text/javascript">
        const emailInput = document.getElementById("email");
        const oldPasswordInput = document.getElementById("oldPassword");
        const newPasswordInput = document.getElementById("newPassword");
        const emailWarning = document.getElementById("emailWarning");
        const oldPasswordWarning = document.getElementById("oldPasswordWarning");
        const newPasswordWarning = document.getElementById("newPasswordWarning");

        function isValidEmail(email) {
        // regular expression pattern for valid email addresses
        const pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return pattern.test(email);
        }

        function isValidPassword(password) {
          // password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, and one number
          const pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/;
          return pattern.test(password);
        }

        function validateEmail() {
          if (emailInput.value === "") {
            emailWarning.textContent = "Email is required";
            return false;
          } else if (!isValidEmail(emailInput.value)) {
            emailWarning.textContent = "Invalid email address";
            return false;
          } else {
            emailWarning.textContent = "";
            return true;
          }
        }

        function validateOldPassword() {
          if (oldPasswordInput.value === "") {
            oldPasswordWarning.textContent = "Password is required";
            return false;
          } else if (!isValidPassword(oldPasswordInput.value)) {
            oldPasswordWarning.textContent = "Password must have least 8 characters and least one uppercase letter, one lowercase letter and one number";
            return false;
          } else {
            oldPasswordWarning.textContent = "";
            document.getElementById('button').style.backgroundColor = "#4CAF50";
            return true;
          }
        }

        function validateNewPassword() {
          if (newPasswordInput.value === "") {
            newPasswordWarning.textContent = "Password is required";
            return false;
          } else if (!isValidPassword(newPasswordInput.value)) {
            newPasswordWarning.textContent = "Password must have least 8 characters and least one uppercase letter, one lowercase letter and one number";
            return false;
          } else {
            newPasswordWarning.textContent = "";
            document.getElementById('button').style.backgroundColor = "#4CAF50";
            return true;
          }
        }

        function validationForm(){
          const emailIsvalid = validateEmail();
          const oldPasswordIsValid = validateOldPassword();
          const newPasswordIsValid = validateNewPassword();
          return emailIsvalid && oldPasswordIsValid && newPasswordIsValid;
        }

        emailInput.addEventListener("input", validateEmail);
        oldPasswordInput.addEventListener("input", validateOldPassword);
        newPasswordInput.addEventListener("input", validateNewPassword);
        document.querySelector("form").addEventListener("submit", function(event){
          if (!validationForm()){
            event.preventDefault();
          }
        })


      </script>
  </body>
</html>
