<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body class="dash-body">
    <div class="navbar">
      <div class="nav-menu">
        <a href="/logout" class="menu" role="button">Logout</a>
        <a href="/change-password" class="menu" role="button">Change Password</a>
      </div>
    </div>
    <div class="div-body">
      <div class="div-title">
        <h1 class="dash-text">Welcome to the Dashboard of my website</h1>
      </div>
      <div class="div-header">
        <h2 class="dash-text">This website is developed by Satish Prajapati.</h2>
      </div>
      <div class="footer">
        <p class="dash-text">Copyright © 2023 Satish Prajapati ®</p>
      </div>

    </div>
  </body>
</html>
