@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 2% 2% 2%;
  margin: 10vh 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-page{
  width: 360px;
  padding: 2% 2% 2%;
  margin: 5vh 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
}



body {
  background-image: linear-gradient(to right, #0172AF , #66347F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button{
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover{
  background-color: green;
  color: white;
}
hr{
  color: white;
}
.home-page{
  margin:20vh 20vw;
  padding: 50px 50px;
  text-align: center;

}
.home-title{
  color: white;
}
.button{
  margin: 10px;
  width: 80px;
}
form .indicator{
  margin-bottom: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px, 0;
  display: none;
}

 form .indicator span{
  width: 100%;
  height: 100%;
  background: lightgrey;
  border-radius: 4px;
  position: relative;
}

form .indicator span.medium{
  margin: 0 3px;
}


form .indicator span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

form .indicator span.active.weak:before{
  background-color: #ff4757;
}

form .indicator span.active.medium:before{
  background-color: orange;
}

form .indicator span.active.strong:before{
  background-color: #23ad5c;
}

form .text{
  font-size:20px;
  font-weight: 500;
  margin-bottom: 10px;
  display: none;
}
form .text.weak{
  color: #ff4757;
}

form .text.medium{
  color: orange;
}

form .text.weak{
  color: #23ad5c;
}

*{
  margin: 0;
  padding: 0;
}
.navbar{
  height: 70px;
  background-color: #393053;
  display:flex;
  align-items: center;
}

.nav-menu{
  color: white;
  background-color: inherit;
  margin-left: 75%;

}
.menu{
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 16px;
}

.div-body{
  margin: 5% 30%;
}
.div-header{
  margin: 10% 5%;
}
.footer{
  margin: 60% 20%;
}
.dash-text{
  color: white;
  font-weight: bold;
  text-align: center;
}

.google-btn {
  display: inline-block;
  background-color: #dd4b39;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 15px 20%;
}

///password Strength
.pw-meter {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:350px;
  background:#fff;
  padding:20px;
  box-shadow:0px 0px 20px 5px rgba(0,0,0,0.05);
}
.pw-meter h2 {
  margin:10px 0px 30px;
  font-size:20px;
  color:#111;
  text-align:center;
}
.pw-meter .form-element {
  position:relative;
}
.pw-meter label {
  display:block;
  margin-bottom:8px;
  color:#111;
}
.pw-meter input {
  padding:8px 30px 8px 10px;
  width:100%;
  font-size:16px;
  border:1px solid #bbb;
  outline:none;
}
.pw-meter .pw-display-toggle-btn {
  position:absolute;
  right:10px;
  top:35px;
  width:20px;
  height:20px;
  text-align:center;
  line-height:20px;
  cursor:pointer;
}
.pw-meter .pw-display-toggle-btn i.fa-eye-slash {
  display:none;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye-slash {
  display:block;
}
.pw-meter .pw-display-toggle-btn.active i.fa-eye {
  display:none;
}
.pw-meter .pw-strength {
  position:relative;
  width:100%;
  height:20px;
  margin-top:10px;
  text-align:center;
  background:#f2f2f2;
  display:none;
}
.pw-meter .pw-strength span:nth-child(1) {
  position:relative;
  font-size:13px;
  color:#111;
  z-index:2;
  font-weight:600;
}
.pw-meter .pw-strength span:nth-child(2) {
  position:absolute;
  top:0px;
  left:0px;
  width:0%;
  height:100%;
  border-radius:5px;
  z-index:1;
  transition:all 300ms ease-in-out;
}

.show-div{
  display: flex;
  margin-top: 2px;
  align-items: center;
}
.show-pass{
  margin-top: 15px;
  align-items: center;
  width: 40px;
}

.error-message{
  color: red;
}
