@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 2% 2% 2%;
  margin: 10vh 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-page{
  width: 360px;
  padding: 2% 2% 2%;
  margin: 10vh 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


body {
  /* background: #76b852; /* fallback for old browsers
  background: rgb(141,194,111);
  background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%); */
  background-image: linear-gradient(to right, #0172AF , #66347F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button{
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover{
  background-color: green;
  color: white;
}
hr{
  color: white;
}
.home-page{
  margin:20vh 20vw;
  padding: 50px 50px;
  text-align: center;

}
.home-title{
  color: white;
}
.button{
  margin: 10px;
  width: 80px;
}
form .indicator{
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px, 0;
  display: none;
}

form .indicator span{
  width: 100%;
  height: 100%;
  background: lightgrey;
  border-radius: 4px;
  position: relative;
}

form .indicator span.medium{
  margin: 0 3px;

}

form .indicator span:before{
  content: '';
  position:   absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 4px;
}
form .indicator span.active.weak:before{
  background-color: #ff4757;
}

form .indicator span.active.medium:before{
  background-color: orange;
}

form .indicator span.active.strong:before{
  background-color: #23ad5c;
}

.text{
  display: none;
}
